<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>text vs utext</h1>
<!-- unescape 상태가 default가 되면 사용자가 태그를 게시글의 데이터로 넣은 경우
 사이트 자체가 완전히 깨질 수 있다. 따라서 escape가 default, 그리고 개발자가 특별히 의도
 한 게 있는 경우에만 unescape를 사용한다. -->
<ul>
    <li>th:text = <span th:text="${data}"></span></li>
    <li>th:utext = <span th:utext="${data}"></span></li>
</ul>
<h1><span th:inline="none">[[.  ..]] vs [(...)]</span></h1>
<ul>
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
</ul>
</body>
</html>